header{
   width: 100vw;
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.logo{
   max-width: 250px;
}
 ul{
   list-style: none;
   display: flex;
   font-size: 18px;
 }
 .nav__menu-item{
   margin-right: 33px;
 }